@use '../../assets/styles/colors.scss';
@use '../../assets/styles/mixins';

.Repository-item {
  padding: 10px;
  border: 1px solid colors.$color-border;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--starred {
    border: 1px solid colors.$color-brand-2;
  }

  &__section {
    display: flex;

    &-media {
      width: 40px;
      height: 40px;
      border: 1px solid colors.$color-sub-text;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &--image {
        height: 100%;
        object-fit: cover;
        padding: 10px;
      }

      &--star {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(50%);
        width: 12px;
        height: 12px;
        background-color: colors.$color-brand;
        color: colors.$color-white;
        padding: 2px;
        border-radius: 100%;
      }
    }

    &-info {
      padding-left: 10px;

      &--title {
        margin: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        color: colors.$color-text;

        &-link {
          color: inherit;
          text-decoration: none;
        }
      }

      &--desc {
        font-size: 13px;
        line-height: 15px;
        color: colors.$color-sub-text;
        margin: 0;
        padding: 5px 0;
      }

      &--topics {
        display: inline-flex;
        list-style-type: none;
        margin: 5px 0;
        padding: 0;

        @include mixins.mobile {
          display: inline-grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 5px;
        }

        &-item {
          background-color: colors.$color-light-grey;
          color: colors.$color-grey;
          padding: 2px;
          border-radius: 2px;
          font-size: 12px;
          margin-right: 5px;
        }
      }
    }
  }

  &__label {
    &-list {
      display: inline-flex;
      align-items: center;
      list-style-type: none;
      margin: 5px 0;
      padding: 0;

      @include mixins.mobile {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5px;
      }

      &-item {
        display: flex;
        align-items: center;
        font-size: 11px;
        line-height: 13px;
        color: colors.$color-sub-text;
        margin-right: 10px;

        &--btn {
          background-color: colors.$color-brand-3;
          color: colors.$color-brand;
          font-size: 11px;
          line-height: 13px;
          font-weight: 500;
          border-radius: 3px;
          width: 52px;
          border: none;
          padding: 3px 8px;
          cursor: pointer;
        }

        &--text {
          padding: 0 3px;
        }
      }
    }
  }
}
