@use '../../assets/styles/colors';
@use '../../assets/styles/mixins';

.Repository-view {
  padding: 30px;
  background-color: colors.$color-white;
  min-height: calc(100vh - 190px);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.mobile {
      flex-direction: column;
    }

    @include mixins.tablet {
      flex-direction: row;
    }

    @include mixins.desktop {
      flex-direction: row;
    }

    &-title {
      color: colors.$color-text;
      font-size: 20px;
      line-height: 24px;
    }

    &-form {
      position: relative;

      &--search-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: colors.$color-grey;
        cursor: pointer;
      }

      &--input {
        height: 50px;
        width: 400px;
        padding: 10px 50px;
        font-size: 14px;
        background-color: colors.$color-light-blue;
        border: none;
        border-radius: 8px;
        color: colors.$color-grey;
        outline: none;

        @include mixins.mobile {
          width: inherit;
        }
      }

      &--filter {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: colors.$color-grey;
        cursor: pointer;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }

  &__list {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;

    @include mixins.desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mixins.mobile {
      grid-template-columns: 1fr;
    }

    @include mixins.tablet {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  &__pagination {
    margin-top: 40px;
    display: flex;

    &-btn {
      margin-right: 10px;
      background-color: transparent;
      color: colors.$color-grey;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;

      &--active {
        background-color: colors.$color-brand;
        color: colors.$color-white;
      }
    }
  }
}
