@use '../../assets/styles/colors.scss';

.tab-button {
  padding: 16px 0;
  font-size: 20px;
  line-height: 27px;
  color: colors.$color-ash;
  border: none;
  width: 50%;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 4px solid colors.$color-ash;

  &--active {
    color: colors.$color-brand;
    border-bottom: 4px solid colors.$color-brand;
  }
}
