$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-text: rgb(16, 24, 40, 1);
$color-sub-text: rgb(152, 152, 152);


$color-light-grey: rgba(97, 97, 117, 0.09);
$color-grey: rgb(97, 97, 117);

$color-light-blue: rgb(247, 247, 248);
$color-ash: rgb(170, 172, 175);
$color-background: rgb(253, 249, 249);
$color-brand: rgb(237, 3, 52);
$color-brand-2: rgba(237, 3, 52, 0.21);
$color-brand-3: rgba(237, 3, 52, 0.33);
$color-border: rgb(230, 231, 236);
